.banner {
 background-color: #F7EDE2;
 width: 1500px ;
 border-radius: 25px ;
 margin: 0 auto ;
 padding: 0 auto ;
 box-shadow: 10px 10px 30px rgba(0,0,0,0.8) ;
}

.banner-end{
 background-color: #F7EDE2;
 width: 1500px ;
 height: 200px ; 
 border-radius: 25px ;
 margin: 0 auto ;
 padding: 0 auto ;
 box-shadow: 10px 10px 30px rgba(0,0,0,0.8) ;
 display: flex;
 text-align: center;
 justify-content: center;
}